body{
    background-color: honeydew;
}
ul.nav{
    list-style: none;
    margin: 0px;    
    padding: 0px;
    text-align: center;
}
li.nav{
    display: inline-block;
    background-color: hotpink;
    margin: 10px 20px 20px 0px; 
}
li.nav a{
    color: green;
}
li.nav a:hover{
    background-color: pink;
  
    text-decoration: none;
}

footer{   
    background-color: green;
}
header{
    background-color: pink;
}
figure{
    background-color: paleturquoise;
    margin: 0px;
    }
figure img{
    border-radius:50%;
    max-width: 300px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
figure figcaption{
    text-align: center;
}
footer{
    text-align: center;
}

#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.leftside {
  
    width:220px;
    height:285px;
    margin-left: auto;
    margin-right: auto;
    background-color:honeydew;
  
    border-radius:4px;
     
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.rightside {
    float:left;
    margin-left:10px;
}
#sketchpad {
    
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:300px;
    width:400px;
    border:2px solid #888;
    border-radius:4px;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
}
#clearbutton {
    font-size: 15px;
    padding: 10px;
    -webkit-appearance: none;
    background: #eee;
    border: 1px solid #888;
}
@media screen and (max-width: 400px){
    body li a {
        font-size: 20px ;
    }
   
   }

ul.DogImgLst{
    list-style: none;
    text-align: center;
    
}
ul.DogImgLst li{
    display: inline;
    
    background-color: whitesmoke;
    margin: 30px;
}
ul.DogImgLst li a{
    color: rgb(100, 70, 30);
}
img.hide{
    max-width: 300px;
    max-height: 300px;
    
    margin-left: auto;
    margin-right: auto;
    display: none;
}
img.show{
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}